<div class = "container">
    <h1>Your Cards</h1>

<mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><i>Visa</i></mat-card-title>
      <mat-card-subtitle>Customer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
            <h5><b>Personal Account</b></h5>
            <h5>Card Ending 7487</h5>
            <h5>12,136$</h5>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><i>MasterCard</i></mat-card-title>
      <mat-card-subtitle>Customer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
            <h5><b>Personal Account</b></h5>
            <h5>Card Ending 7487</h5>
            <h5>12,136$</h5>
    </mat-card-content>
  </mat-card>
<br><br>
  <div class="example-button-row">
    <button mat-stroked-button routerLink = "." color="primary">Apply for new card</button>
  </div>
  </div>