<br>
<h1>Transfer Funds</h1>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Enter Account Number</mat-label>
      <input matInput placeholder="Ex. Pizza" value="#">
    </mat-form-field>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Enter Name</mat-label>
          <input matInput placeholder="Ex. Pizza" value="...">
        </mat-form-field>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Enter Value</mat-label>
          <input matInput placeholder="Ex. Pizza" value="0$">
        </mat-form-field>

        <button mat-raised-button color="primary">Transfer</button>
  </form>

  