    <div class="container">
<div class="card">
    <img src="assets/img.jpg" alt="John" style="width:100%">
    <h1>Test Name</h1>
    <p class="title">Bank accounts - 2</p>
    <p>Credit Cards active - 2</p>
  </div>

  <br>

    <app-cards></app-cards>
    <br>
    <div class="info" style="margin-left: 10px;">
    <h3><b>Opened Date:</b> 12/02/2020</h3>
    <h3><b>Full Name:</b> User</h3>
    <h3><b>Last Transaction Date:</b> 14/12/2021</h3>
    <h3><b>Branch Name & Code:</b> addedw #23</h3>
  </div>
  
  <div class="info" style="margin-left: 10px;">
      <h3><b>Opened Date:</b> dd/mm/yyyy</h3>
      <h3><b>Full Name:</b> User</h3>
      <h3><b>Last Transaction Date:</b> 21/04/2019</h3>
      <h3><b>Branch Name & Code:</b> addedw #23</h3>
    </div>
    </div>




  